extends layout
append css
  link(rel='stylesheet',href='/stylesheets/jquery-ui-1.10.3.custom.min.css')
  link(rel='stylesheet',href='/stylesheets/jquery-ui-timepicker-addon.min.css')
  link(rel='stylesheet',href='/font/﻿typicons.min.css')
  link(rel='stylesheet',href='/stylesheets/﻿dashboard.css')
append script
  script(src='/javascripts/jquery-ui-timepicker-addon.min.js')
  script(src='/javascripts/﻿jquery-ui-sliderAccess.js')
  script(src='/javascripts/﻿jquery-ui-tiamepicker-ja.js')
  script(src='/javascripts/﻿jquery.flot.js')
  script(src='/javascripts/﻿jquery.flot.selection.min.js')
  script(src='/javascripts/﻿jquery.flot.time.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/﻿dashboard.js')
block content
    .row
        .col-lg-12
            nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                .navbar-header.rl
                    a.navbar-brand.vflogo.simple-menu(href='#sidr') VF
                .collapse.navbar-collapse
                    p.navbar-text(style='font-size:19px') LINE1 サマリー
                    .infodiv
                        p#info_p.navbar-text.c_p
                          span.glyphicon.glyphicon-info-sign
                          | &nbsp受信待機中・・・
                        .progress.progress-striped.active.c_progress
                            #info-progress.progress-bar.progress-bar-warning(role='progressbar',aria-valuenow='10',aria-valuemin='0',aria-valuemax='10',style='width:100%')

    #sidr
     ul
       li: a.simple-menu(href='#')
           span.glyphicon.glyphicon-remove.sidr-span.icon-off-white
           | CLOSE
       li: a(href='#')
           span.glyphicon.glyphicon-calendar.icon-orange6.sidr-span
           | スケジュール
       li: a(href='/record')
           span.glyphicon.glyphicon-book.icon-orange7.sidr-span
           | レコード
       li: a(href='#')
           span.glyphicon.glyphicon-user.icon-orange1.sidr-span
           | 作業管理
       li: a(href='#')
           span.glyphicon.glyphicon-download-alt.icon-orange2.sidr-span
           | データ配信
       li: a(href='#')
           span.glyphicon.glyphicon-phone.icon-orange3.sidr-span
           | 端末管理　
       li: a(href='#')
           span.glyphicon.glyphicon-cog.icon-orange4.sidr-span
           | 設定

    #maincontainer
        .row
            .col-md-6.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-fire.icon-gray
                            | &nbsp温度
                    table.table
                        thead
                            tr
                            t_list = ['現在値','設定値','上限','下限']
                                for item in t_list
                                    th= item
                        tbody
                            tr.line1tr1
                                td#cels_td 0
                                td 15
                                td 30
                                td 10
                    .panel-body
                        .chart_wrap: #chartline1A.c_t
                        .loadingWrap.loadingCH: img(src='../images/gif-load.gif')
                    .panel-footer
                        .row
                            .input-group.col-lg-3.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-pencil
                                input.form-control.input-lg(type='text',placeholder='設定値',name='selectcelsius')
                            .input-group.col-lg-3.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-arrow-up
                                input.form-control.input-lg(type='text',placeholder='上限値',name='maxcelsius')
                            .input-group.col-lg-3.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-arrow-down
                                input.form-control.input-lg(type='text',placeholder='下限値',name='mincelsius')
                            .input-group.col-lg-3.mgn10
                                button#celschangebtn.btn.btn-primary.btn-lg.btn-block(type='button') 設定変更

            .col-md-6.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-tint.icon-gray
                            | &nbsp湿度
                    table.table
                        thead
                            tr
                                for item in t_list
                                    th= item
                        tbody
                            tr.line1tr1
                                td#humd_td 0
                                td 15
                                td 30
                                td 10
                    .panel-body
                        .chart_wrap: #chartline1B.c_t
                        .loadingWrap.loadingCH: img(src='../images/gif-load.gif')
                    .panel-footer
                        .row
                            .input-group.col-lg-3.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-pencil
                                input.form-control.input-lg(type='text',placeholder='設定値',name='selecthumidity')
                            .input-group.col-lg-3.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-arrow-up
                                input.form-control.input-lg(type='text',placeholder='上限値',name='maxhumidity')
                            .input-group.col-lg-3.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-arrow-down
                                input.form-control.input-lg(type='text',placeholder='下限値',name='minhumidity')
                            .input-group.col-lg-3.mgn10
                                button#humdchangebtn.btn.btn-primary.btn-lg.btn-block(type='button') 設定変更

        .row
            .col-md-8.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-wrench.icon-gray
                            | &nbsp制御機器操作
                    .panel-body.panel-body.record
                        table#mcn-table.table.table-hover
                            tr.success
                                list = ['制御機器','現在の状態','設定値','アクセス状況','切替']
                                for item in list
                                    th= item
                            tr
                                td: span.typcn.typcn-adjust-brightness.text-add 温度UP
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio1-1(type='radio',name='radio1',value='on',checked='checked')
                                            label.ladiolabel(for='radio1-1') ON
                                        li
                                            input#radio1-2(type='radio',name='radio1',value='off')
                                            label.ladiolabel(for='radio1-2') OFF
                            tr
                                td: span.typcn.typcn-weather-sunny.text-add 温度DOWN
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio2-1(type='radio',name='radio2',value='on',checked='checked')
                                            label.ladiolabel(for='radio2-1') ON
                                        li
                                            input#radio2-2(type='radio',name='radio2',value='off')
                                            label.ladiolabel(for='radio2-2') OFF 
                                               
                            tr
                                td: span.typcn.typcn-weather-downpour.text-add 湿度UP
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio3-1(type='radio',name='radio3',value='on',checked='checked')
                                            label.ladiolabel(for='radio3-1') ON
                                        li
                                            input#radio3-2(type='radio',name='radio3',value='off')
                                            label.ladiolabel(for='radio3-2') OFF  
                                            
                            tr
                                td: span.typcn.typcn-weather-windy-cloudy.text-add 湿度DOWN
                                td
                                td
                                td
                                td
                                    ul.radios
                                        li
                                            input#radio4-1(type='radio',name='radio4',value='on',checked='checked')
                                            label.ladiolabel(for='radio4-1') ON
                                        li
                                            input#radio4-2(type='radio',name='radio4',value='off')
                                            label.ladiolabel(for='radio4-2') OFF                

                        #loadingTable_.loadingWrap-table: img(src='../images/gif-load.gif')

            .col-md-4.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-time.icon-gray
                            | &nbspログ
                    .panel-body.panel-body-record
                        table.table.table-hover
                            tr.success
                                th 日時
                                th ログ内容
                        #loadingTable_.loadingWrap-table: img(src='../images/gif-load.gif')

        .row
            .col-md-8.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-list-alt.icon-gray
                            | &nbspレコード
                    .panel-body.panel-body-record
                        table#record-table.table.table-striped
                            tr
                                wk = ['Line','LineNo','日時','温度','湿度']
                                for x in wk
                                    th= x
                        #loadingTable1.loadingWrap-table: img(src='../images/gif-load.gif')
                    .panel-footer
                        .row
                            .input-group.col-lg-4.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-fast-forward
                                input#datetimepicker1.form-control.input-lg(type='text',placeholder='開始日時',name='eventStart')

                            .input-group.col-lg-4.mgn10
                                span.input-group-addon: i.glyphicon.glyphicon-fast-backward
                                input#datetimepicker2.form-control.input-lg(type='text',placeholder='終了日時',name='eventEnd')
                            
                            .input-group.col-lg-2.mgn10: button#chartBtn.btn.btn-primary.btn-lg.btn-block(type='button',data-toggle='modal',data-target='#myModal') データ取得
                            .input-group.col-lg-2.mgn10: button#chartModalBtn.btn.btn-primary.btn-lg.btn-block(type='button') 詳細表示
                            
            .col-md-4.row_m
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-time.icon-gray
                            | &nbspログ
                    .panel-body.panel-body-record
                        table.table.table-hover
                            tr.success
                                th 日時
                                th ログ内容
                        #loadingTable_.loadingWrap-table: img(src='../images/gif-load.gif')       
                    .panel-footer
                        .row
                            .input-group.col-lg-12.mgn10
                                button#logtextBtn.btn.btn-primary.btn-lg.btn-block(type='button') CSV出力

    #myModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                    h4#myModal#myModalLabel.modal-title: span.glyphicon.glyphicon-eye-open &nbsp詳細データ一覧表示
                .modal-body
                    ul.nav.nav-tabs#myTab
                        li: a(href='#graphTab',data-toggle='tab') グラフ
                        li: a(href='#recordTab',data-toggle='tab') 履歴
                    .tab-content
                        .tab-pane.active#graphTab
                            #modal-container
                                .row.modalMenuRow
                                    .col-lg-6
                                        
                                        ul.pagination.pagination-lg
                                            li.disabled: a(href='#') LineNo
                                            - for (var  cnt = 1; cnt < 13; cnt++) 
                                                if cnt ==1
                                                    li.active: a(href='#') #{cnt}
                                                else
                                                    li: a(href='#') #{cnt}

                                            
                                    .input-group.col-lg-2.mgn10
                                        span.input-group-addon: i.glyphicon.glyphicon-fast-forward
                                        input#datetimepicker1.form-control(type='text',placeholder='開始日時',name='eventStart')

                                    .input-group.col-lg-2.mgn10
                                        span.input-group-addon: i.glyphicon.glyphicon-fast-backward
                                        input#datetimepicker2.form-control(type='text',placeholder='終了日時',name='eventEnd')
                                        

                                    .btn-group.col-lg-2.btn-group-custom(data-toggle='buttons')
                                        label.btn.btn-primary.active
                                            input#option1(type='radio',name='options')
                                            | 日
                                        label.btn.btn-primary
                                            input#option2(type='radio',name='options')
                                            | 週
                                        label.btn.btn-primary
                                            input#option3(type='radio',name='options')
                                            | 月
                                            
                                    .btn-group.col-lg-4.btn-group-custom(data-toggle='buttons')
                                        label.btn.btn-primary.active
                                            input#option-ch1(type='radio',name='options-ch')
                                            i.glyphicon.glyphicon-fire
                                            | &nbsp温度
                                        label.btn.btn-primary
                                            input#option-ch2(type='radio',name='options-ch')
                                            i.glyphicon.glyphicon-tint
                                            | &nbsp湿度
                                        label.btn.btn-primary
                                            input#option-ch3(type='radio',name='options-ch')
                                            i.glyphicon.glyphicon-adjust
                                            | &nbsp温度＆湿度
                                    .input-group.col-lg-2.mgn10
                                        button#chartrefreshBtn.btn.btn-primary.btn-block(type='button')
                                            i.glyphicon.glyphicon-refresh
                                            | &nbsp更新
                                                                      
                                .row
                                    .col-lg-9
                                        .chart_wrap: #ModalChartMain.c_t
                                    .col-lg-3
                                        .chart_wrap
                                            ul.list-group
                                                li.list-group-item Cras justo odio
                                                li.list-group-item Cras justo odio
                                                li.list-group-item Cras justo odio
                                                li.list-group-item Cras justo odio
                                                li.list-group-item Cras justo odio
                                                li.list-group-item Cras justo odio
                                    .col-lg-12
                                        ul.pager
                                            li: a(href='#') 前
                                            li: a(href='#') 次
                        .tab-pane#recordTab
            
                .modal-footer
                    button.btn.btn-primary(type='button',data-dismiss='modal') 閉じる
                    