doctype html
html(lang='ja')
  head
    meta(name='viewport',content='target-densitydpi=device-dpi,width=device-width,initial-scale=1.0,user-scalable=yes')
    title= title
    block css
        link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet',href='/stylesheets/jquery-ui-1.10.3.custom.min.css')
        link(rel='stylesheet',href='/stylesheets/jquery-ui-timepicker-addon.min.css')
        link(rel='stylesheet',href='/stylesheets/jquery.sidr.dark.css')
        link(rel='stylesheet',href='/lib/jquery.jqplot.min.css')
        link(rel='stylesheet',href='/stylesheets/style.css')
        link(rel='stylesheet',href='/stylesheets/summary.css')
        link(rel='stylesheet',href='/stylesheets/sample.css')
        link(rel='stylesheet',href='/stylesheets/flat/orange.css')
        link(rel='stylesheet',href='/stylesheets/aw-showcase.css')
        link(rel='stylesheet',href='/stylesheets/iThing.css')
    block script
        script(src='/javascripts/jquery-1.10.2.min.js',type='text/javascript')
        script(src='/javascripts/jquery-ui-1.10.3.custom.min.js')
        script(src='/javascripts/jquery-ui-timepicker-addon.min.js')
        script(src='/javascripts/jquery-ui-sliderAccess.js')
        script(src='/javascripts/jquery-ui-tiamepicker-ja.js')
        script(src='/javascripts/bootstrap.min.js',type='text/javascript')
        script(src='/javascripts/jquery.sidr.min.js',type='text/javascript')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/jquery.flot.js')
        script(src='/javascripts/jquery.flot.selection.min.js')
        script(src='/javascripts/jquery.flot.time.min.js')
        script(src='/lib/jquery.jqplot.min.js')
        script(src='/lib/plugins/jqplot.dateAxisRenderer.min.js')
        script(src='/lib/plugins/jqplot.cursor.min.js')
        script(src='/lib/plugins/jqplot.highlighter.min.js')
        script(src='/lib/plugins/jqplot.canvasTextRenderer.min.js')
        script(src='/lib/plugins/jqplot.canvasAxisLabelRenderer.min.js')
        script(src='/lib/plugins/jqplot.canvasOverlay.min.js')
        script(src='/lib/plugins/jqplot.pointLabels.min.js')
        script(src='/lib/plugins/jqplot.categoryAxisRenderer.min.js')
        script(src='/lib/plugins/jqplot.barRenderer.min.js')
        script(src='/javascripts/jquery.knob.js')
        script(src='/javascripts/icheck.min.js')
        script(src='/javascripts/jquery.aw-showcase.min.js')
        script(src='/javascripts/jQAllRangeSliders-min.js')
        script(src='/javascripts/sample.js',type='text/javascript')
        script(src='/javascripts/settingScript.js',type='text/javascript')
  body
  block content
  .row
            .col-lg-12
                nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                    .navbar-header.rl
                        a.navbar-brand.vflogo.simple-menu(href='#sidr') VF
                    .collapse.navbar-collapse
                        p.navbar-text(style='font-size:19px')
                            i.glyphicon.glyphicon-list-alt
                            | &nbsp サマリー
                        .nav.navbar-nav.nav-right(style='position:absolute; top:10px; right:10px;')
                            button#deviceSettingButton.btn.btn-default(data-toggle='modal',data-target='#deviceSettingModal',style='padding: 10px 12px 6px 12px !important;')
                                span.glyphicon.glyphicon-cog    
                        .nav.navbar-nav.nav-right(style='position:absolute; top:10px; right:60px;')
                            button#allsettingButton.btn.btn-default(data-toggle='modal',data-target='#settingModal',style='padding: 10px 12px 6px 12px !important;')
                                span.glyphicon.glyphicon-envelope
                        .nav.navbar-nav.nav-right(style='position:absolute; top:10px; right:110px;')
                            button#allpictureButton.btn.btn-default(data-toggle='modal',data-target='#pictureModal',style='padding: 10px 12px 6px 12px !important;')
                                span.glyphicon.glyphicon-picture    
                        .nav.navbar-nav.nav-right(style='position:absolute; top:10px; right:160px;')
                            button#alllineButton.btn.btn-default(data-toggle='modal',data-target='#lineModal',style='padding: 10px 12px 6px 12px !important;')
                                span.glyphicon.glyphicon-eye-open       
       
    #sidr
     ul
       li: a.simple-menu(href='#')
           span.glyphicon.glyphicon-remove.sidr-span.icon-off-white
           | CLOSE
       li: a(href='/schedule')
           span.glyphicon.glyphicon-calendar.icon-orange6.sidr-span
           | スケジュール&リレー設定
       li: a(href='/record')
           span.glyphicon.glyphicon-book.icon-orange7.sidr-span
           | レコード
       li: a(href='#')
           span.glyphicon.glyphicon-user.icon-orange1.sidr-span
           | 作業管理
       li: a(href='#')
           span.glyphicon.glyphicon-download-alt.icon-orange2.sidr-span
           | データ配信
       li: a(href='#')
           span.glyphicon.glyphicon-phone.icon-orange3.sidr-span
           | 端末管理　
       li: a(href='#')
           span.glyphicon.glyphicon-cog.icon-orange4.sidr-span
           | 設定
  
  #maincontainer
      - var name = lineParams.lineid + ':' + lineParams.lineno;
      .page-header
            h4(style='margin-left:15px;') ライン#{name}レコード
            .infodiv
                            p#info_p.navbar-text.c_p
                              span.glyphicon.glyphicon-info-sign
                              | &nbsp受信待機中・・・
                            .progress.progress-striped.active.c_progress
                                #info-progress.progress-bar.progress-bar-warning(role='progressbar',aria-valuenow='10',aria-valuemin='0',aria-valuemax='10',style='width:100%')
                        
      .row(style="height:300px;")
        .col-lg-3
            .dial2Wrap
                input#dial1(type='text',data-width='240',data-height='240',data-linecap='round')
        .col-lg-3
            .dial2Wrap
                input#dial2(type='text',data-width='240',data-height='240',data-linecap='round')
        .col-lg-3
            .dial2Wrap
                input#dial3(type='text',data-width='240',data-height='240',data-linecap='round')
        .col-lg-3
            .dial2Wrap
                input#dial4(type='text',data-width='240',data-height='240',data-linecap='round')       
      .row          
        .col-lg-12
            .panel.panel-default.panel-c
                .panel-heading リアルタイムログ
                .panel-body 
                    table#line1logTable.table
                        thead
                            tr
                                th 日時
                                th 温度
                                th 設定範囲
                                th リレー
                                th 湿度
                                th 設定範囲
                                th リレー
                                th 換気
                                th 設定範囲
                                th リレー
                                th CO2
                                th 設定C範囲
                                th リレー
                        tbody              
                      
      .row(style='background:#EEE; padding:10px; margin-top:20px;')
        .col-lg-12
            #lineChart(style='height:350px;')
        .col-lg-12#checkbox-item-list
                        label.control-label 表示項目
                        label.checkbox-inline.addBackground: input#inlineCheckbox1(type='checkbox',name='celsData',checked='checked')
                        label.checkbox-inline.addBackground: input#inlineCheckbox2(type='checkbox',name='humdData',checked='checked')
                        label.checkbox-inline: input#inlineCheckbox3(type='checkbox',name='ventData')
                        label.checkbox-inline: input#inlineCheckbox4(type='checkbox',name='co2Data')
                        label.checkbox-inline: input#inlineCheckbox5(type='checkbox',name='setcelsius')
                        label.checkbox-inline: input#inlineCheckbox6(type='checkbox',name='sethumidity')
                        label.checkbox-inline: input#inlineCheckbox7(type='checkbox',name='setventilation')
                        label.checkbox-inline: input#inlineCheckbox8(type='checkbox',name='setco2')   
                        label.checkbox-inline: input#inlineCheckbox9(type='checkbox',name='celsiusup')  
                        label.checkbox-inline: input#inlineCheckbox10(type='checkbox',name='humidityup')  
                        label.checkbox-inline: input#inlineCheckbox11(type='checkbox',name='ventilationdw')
                        label.checkbox-inline: input#inlineCheckbox12(type='checkbox',name='co2dw')
      .row#dateSelector   
        .col-lg-offset-4
        .col-lg-3
            .input-group
                span.input-group-addon 開始日付
                input#datetimepicker1.form-control(type='text',placeholder='ex) 20140101',name='eventStart')
        .col-lg-3        
            .input-group
                span.input-group-addon 終了日付
                input#datetimepicker2.form-control(type='text',placeholder='ex) 20141229',name='eventEnd')
        .col-lg-1
            button#selectDateBtn.btn.btn-primary(type='button') 指定表示
        .col-lg-1
            button#realtimeBtn.btn.btn-primary(type='button') リアルタイム
      .row
        .col-lg-12(style='padding:0 10px !important;')
            .panel.panel-default.panel-c
                .panel-heading 指定レコードログ
                .panel-body
                    table#lineRecordTable.table.table-striped
                        thead
                            th 日時
                            th 温度
                            th 設定範囲
                            th リレー
                            th 湿度
                            th 設定範囲
                            th リレー
                            th 換気
                            th 設定範囲
                            th リレー
                            th CO2
                            th 設定範囲
                            th リレー
                        tbody
                  

.modal.fade#deviceSettingModal
    .modal-dialog
        .modal-content
             .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                    h4.modal-title デバイス設定画面
             .modal-body
                    button#cacheDeleteBtn.btn.btn-danger(type='button') グラフデータキャッシュ削除

.modal.fade#settingModal
    .modal-dialog
        .modal-content
             .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                    h4.modal-title#myModalLabel メール設定画面
             .modal-body
                .row
                    .col-lg-12
                        table.table.table-hover
                            thead
                                tr
                                    th 
                                    th ユーザー名
                                    th アドレス
                                    th メール送信設定
                                    th 
                            tbody#mailSettingBody

.modal.fade#pictureModal
    .modal-dialog
        .modal-content
             .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                    h4.modal-title 画像管理画面
             .modal-body(style='padding:0 !important')
                .row.picture_row
                    .col-lg-3
                        .input-group
                            span.input-group-addon 開始日付
                            input#datetimepicker3.form-control(type='text',placeholder='ex) 20140101',name='pictureStart')
                    .col-lg-3        
                        .input-group
                            span.input-group-addon 終了日付
                            input#datetimepicker4.form-control(type='text',placeholder='ex) 20141229',name='pictureEnd')
                    .col-lg-1
                        button#selectPictureDateBtn.btn.btn-primary(type='button') 指定表示
                #showcase.showcase
                    - for(var i=0; i<7; i++){
                    - var name = '/images/0'+(i+1)+'.jpg';
                    - var alt = '0'+(i+1);
                           .showcase-slide
                                .showcase-content
                                    img(src=name,alt=alt)
                                .showcase-thumbnail
                                    img(src=name,alt=alt,width='140px')
                    - }

.modal.fade#lineModal
    .modal-dialog
        .modal-content
             .modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                    h4.modal-title ライン一覧画面
             .modal-body
                       .row
                            - for(var i = 0; i < lineLabel.length; i++) {
                            - var str1 = lineLabel[i].substr(0,1),str2 = lineLabel[i].substr(2,1);
                                 .col-md-3.col-p15(id="al#{lineLabel[i]}")
                                    .wrapAllLine1: p
                                        a(href='/sample/#{str1}/#{str2}') ライン#{lineLabel[i]}レコード
                                        .text_wrap
                                            ul
                                                li: span celsius
                                                li: span humidity
                                                li: span ventilation
                                                li: span co2
                                    .wrapAllLine2: p
                                        a(href='/schedule/#{str1}/#{str2}'): p ライン#{lineLabel[i]}スケジュール
                                        span bbb
                            - }
