doctype html
html(lang='ja')
  head
    meta(name='viewport',content='target-densitydpi=device-dpi,width=device-width,initial-scale=1.0,user-scalable=yes')
    title= title
    block css
        link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet',href='/stylesheets/jquery.sidr.dark.css')
        link(rel='stylesheet',href='/lib/jquery.jqplot.min.css')
        link(rel='stylesheet',href='/stylesheets/style.css')
        link(rel='stylesheet',href='/stylesheets/summary.css')
        link(rel='stylesheet',href='/stylesheets/flat/orange.css')
    block script
        script(src='/javascripts/jquery-1.10.2.min.js',type='text/javascript')
        script(src='/javascripts/jquery-ui-1.10.3.custom.min.js')
        script(src='/javascripts/bootstrap.min.js',type='text/javascript')
        script(src='/javascripts/jquery.sidr.min.js',type='text/javascript')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/jquery.flot.js')
        script(src='/javascripts/jquery.flot.selection.min.js')
        script(src='/javascripts/jquery.flot.time.min.js')
        script(src='/lib/jquery.jqplot.min.js')
        script(src='/lib/plugins/jqplot.dateAxisRenderer.min.js')
        script(src='/lib/plugins/jqplot.cursor.min.js')
        script(src='/lib/plugins/jqplot.highlighter.min.js')
        script(src='/lib/plugins/jqplot.canvasTextRenderer.min.js')
        script(src='/lib/plugins/jqplot.canvasAxisLabelRenderer.min.js')
        script(src='/lib/plugins/jqplot.pointLabels.min.js')
        script(src='/lib/plugins/jqplot.categoryAxisRenderer.min.js')
        script(src='/lib/plugins/jqplot.barRenderer.min.js')
        script(src='/javascripts/jquery.knob.js')
        script(src='/javascripts/icheck.min.js')
        script(src='/javascripts/summary.js',type='text/javascript')
  body
  block content
  .row
            .col-lg-12
                nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                    .navbar-header.rl
                        a.navbar-brand.vflogo.simple-menu(href='#sidr') VF
                    .collapse.navbar-collapse
                        p.navbar-text(style='font-size:19px')
                            i.glyphicon.glyphicon-list-alt
                            | &nbsp サマリー
                        .infodiv
                            p#info_p.navbar-text.c_p
                              span.glyphicon.glyphicon-info-sign
                              | &nbsp受信待機中・・・
                            .progress.progress-striped.active.c_progress
                                #info-progress.progress-bar.progress-bar-warning(role='progressbar',aria-valuenow='10',aria-valuemin='0',aria-valuemax='10',style='width:100%')

    #sidr
     ul
       li: a.simple-menu(href='#')
           span.glyphicon.glyphicon-remove.sidr-span.icon-off-white
           | CLOSE
       li: a(href='#')
           span.glyphicon.glyphicon-calendar.icon-orange6.sidr-span
           | スケジュール
       li: a(href='/record')
           span.glyphicon.glyphicon-book.icon-orange7.sidr-span
           | レコード
       li: a(href='#')
           span.glyphicon.glyphicon-user.icon-orange1.sidr-span
           | 作業管理
       li: a(href='#')
           span.glyphicon.glyphicon-download-alt.icon-orange2.sidr-span
           | データ配信
       li: a(href='#')
           span.glyphicon.glyphicon-phone.icon-orange3.sidr-span
           | 端末管理　
       li: a(href='#')
           span.glyphicon.glyphicon-cog.icon-orange4.sidr-span
           | 設定
  
  #maincontainer
      .page-header
            h4 ライン1
      .row
        .col-lg-3
            
        .col-lg-3.col-lg-3-c
            .panel.panel-default
                .panel-heading: span.glyphicon.glyphicon-cog 
                .panel-body 
                    p
                      span.rspan 温度1
                      label
                        input.checkradio(type='radio',name='icheck1')
                        | UP
                      label
                        input.checkradio(type='radio',name='icheck1')
                        | OFF
                      label
                        input.checkradio(type='radio',name='icheck1')
                        | DOWN
                    p 
                      span.rspan 湿度1
                      label
                        input.checkradio(type='radio',name='icheck2')
                        | UP
                      label
                        input.checkradio(type='radio',name='icheck2')
                        | OFF
                      label
                        input.checkradio(type='radio',name='icheck2')
                        | DOWN
                    p 
                      span.rspan 温度2
                      label
                        input.checkradio(type='radio',name='icheck3')
                        | UP
                      label
                        input.checkradio(type='radio',name='icheck3')
                        | OFF
                      label
                        input.checkradio(type='radio',name='icheck3')
                        | DOWN
                    p 
                      span.rspan 湿度2
                      label
                        input.checkradio(type='radio',name='icheck4')
                        | UP
                      label
                        input.checkradio(type='radio',name='icheck4')
                        | OFF
                      label
                        input.checkradio(type='radio',name='icheck4')
                        | DOWN
        .col-lg-3.col-lg-3-c
            .panel.panel-default.panel-c
                .panel-heading Panel
                .panel-body 
                    table#line1logTable.table

      .row
        .col-lg-12
            .panel.panel-default
                .panel-heading: span.glyphicon.glyphicon-cog
                table.table.table-condensed
                    thead
                        tr.active
                            th id
                            th no
                            th  温度現在値 <br />   温度設定値
                            th  湿度現在値 <br />  湿度設定値
                            th 温度制御
                            th 湿度制御
                            th 積算温度
                            th 詳細
                    tbody
                     for val,index in lineData
                        - var id = val.substr(0,1);
                        - var no = val.substr(2,2);
                        tr
                            td
                                if no === '1'
                                    <div id="lineid#{val}">#{id}</div>
                                else
                                    <div id="lineid#{val}"><br /></div>
                            td 
                                <div id="lineno#{val}">#{no}</div>
                            td 2 <br /> 2-2
                            td 3 <br /> 3-2
                            td
                                span OFF
                            td
                                span OFF
                            td
                                <div id="addingup#{val}"></div>
                            td
                                <button id="linebtn#{val}" class="btn btn-default btn-lg btn-block" type="button" data-toggle="modal" data-target="#lineModal">開く</button>

#lineModal.modal.fade.bs-modal-lg(tabindex='-1',role='dialog',aria-labelledby='#{val}',aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                h4#lineModalLabel.modal-title line
            .modal-body 
                .row
                     .col-lg-3.knobWrap
                        div.dial1Wrap
                            input#dial1(type='text',data-width='280',data-height='280',data-linecap='round')
                        div.dial2Wrap
                            input#dial2(type='text',data-width='240',data-height='240',data-linecap='round')
                     .col-lg-9
                .row
                     .col-lg-12
                        #lineChart
                     .col-lg-12#checkbox-item-list
                        label.control-label 表示項目
                        label.checkbox-inline.addBackground: input#inlineCheckbox1(type='checkbox',name='celsData',checked='checked')
                        label.checkbox-inline.addBackground: input#inlineCheckbox2(type='checkbox',name='humdData',checked='checked')
                        label.checkbox-inline: input#inlineCheckbox3(type='checkbox',name='setcelsius')
                        label.checkbox-inline: input#inlineCheckbox4(type='checkbox',name='sethumidity')
                        label.checkbox-inline: input#inlineCheckbox5(type='checkbox',name='celsiusup')
                        label.checkbox-inline: input#inlineCheckbox6(type='checkbox',name='celsiusdw')
                        label.checkbox-inline: input#inlineCheckbox7(type='checkbox',name='humidityup')
                        label.checkbox-inline: input#inlineCheckbox8(type='checkbox',name='humiditydw')
                        